{{!
    This file is part of the Tutorial Booking activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_tutorialbooking/mobile/latest/slot

    Renders a slot for the Mobile plugin.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * title
    * summary
    * spaces
    * usedspaces
    * freespaces
    * oversubscribed
    * signedup
    * cansignup
    * locked

    Example context (json):
    {
        "id": 6,
        "title": "Slot 1",
        "summary": "<p>This session takes place in June</p>",
        "spaces": 6,
        "usedspaces": 4,
        "freespaces": 2,
        "oversubscribed": false,
        "signedup": false,
        "cansignup": true,
        "locked": false
    }
}}
{{=<% %>=}}
<ion-card>
    <ion-card-header>
        <ion-card-title><%{ title }%></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <core-format-text text="<% summary %>" component="mod_tutorialbooking" componentId="<% cmid %>"></core-format-text>
    </ion-card-content>
    <ion-list lines="none">
        <ion-item><ion-label>
            {{ 'plugin.mod_tutorialbooking.totalspaces' | translate }} <ion-badge color="secondary"><% spaces %></ion-badge>
        </ion-label></ion-item>
        <ion-item><ion-label>
            {{ 'plugin.mod_tutorialbooking.usedspaces' | translate }} <ion-badge><% usedspaces %></ion-badge>
        </ion-label></ion-item>
        <ion-item><ion-label>
            <%^oversubscribed%>
            {{ 'plugin.mod_tutorialbooking.freespaces' | translate }} <ion-badge color="success"><% freespaces %></ion-badge>
            <%/oversubscribed%>
            <%#oversubscribed%>
            {{ 'plugin.mod_tutorialbooking.oversubscribedby' | translate }} <ion-badge color="danger"><% freespaces %></ion-badge>
            <%/oversubscribed%>
        </ion-label></ion-item>
        <%#signedup%>
        <ion-item><ion-label>
            <ion-badge color="success">
                {{ 'plugin.mod_tutorialbooking.yousignedup' | translate }}
            </ion-badge>
        </ion-label></ion-item>
        <%^locked%>
        <ion-item><ion-label>
            <ion-button size="default" color="danger" core-site-plugins-call-ws name="mod_tutorialbooking_remove_signup" [params]="{slotid: <% id %>}" [preSets]="{getFromCache: 0, saveToCache: 0}" refreshOnSuccess="true">
                <ion-icon slot="start" name="remove-circle"></ion-icon>
                {{ 'plugin.mod_tutorialbooking.removefromslot' | translate }}
            </ion-button>
        </ion-label></ion-item>
        <%/locked%>
        <%/signedup%>
        <%#cansignup%><%^locked%>
        <ion-item><ion-label>
            <ion-button size="default" core-site-plugins-call-ws name="mod_tutorialbooking_signup" [params]="{slotid: <% id %>}" [preSets]="{getFromCache: 0, saveToCache: 0}" refreshOnSuccess="true">
                <ion-icon slot="start" name="add-circle"></ion-icon>
                {{ 'plugin.mod_tutorialbooking.signupforslot' | translate }}
            </ion-button>
        </ion-label></ion-item>
        <%/locked%><%/cansignup%>
    </ion-list>
</ion-card>