{{!
    This file is part of the Tutorial Booking activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_tutorialbooking/student_slot

    Student view of the tutorial booking activity.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * signups
    * signedup
    * cansignup

    Example context (json):
    {
        "id": 6,
        "signups": [
            "<li>Bill Jukes</li>",
            "<li>You</li>",
            "<li>Wendy Darling</li>"
        ],
        "signedup": true,
        "cansignup": false,
        "title": "Slot 1",
        "summary": "<p>This session takes place in June</p>",
        "spaces": 6,
        "usedspaces": 4,
        "freespaces": 2,
        "oversubscribed": false
    }
}}
<div id="slot-{{id}}" class="tutorial_session">
    {{> mod_tutorialbooking/slot_information}}
    {{^privatesignups}}<div>{{#str}} attendees, tutorialbooking {{/str}}</div>{{/privatesignups}}
    <ul class="session_attendees">
        {{#signups}}{{{.}}}{{/signups}}
    </ul>
    <div class="controls">{{^locked}}
        {{#signedup}}<a href="{{{urlremove}}}" class="btn btn-primary btn-sm">{{#str}} removefromslot, tutorialbooking {{/str}}</a>{{/signedup}}
        {{#cansignup}}<a href="{{{urlsignup}}}" class="btn btn-primary btn-sm">{{#str}} signupforslot, tutorialbooking {{/str}}</a>{{/cansignup}}
    {{/locked}}</div>
</div>
